
@{
    Layout = null;
}

@using Sitecore.Mvc

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    @Html.Sitecore().Placeholder("head")
</head>
<body class="bodyclass">
    <header>
        @Html.Sitecore().Placeholder("page-header")
    </header>
    <main id="main">
        @Html.Sitecore().Placeholder("main")
    </main>
    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
</body>
</html>

